<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>
    <!-- Navbar -->

    <%- include('./partials/navbar') %>

    <span class="navbar navbar-light bg-light">
      <div class="container">
        <div class="dropdown ml-auto">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="filterDropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Filter Properties
          </button>
          <div class="dropdown-menu" aria-labelledby="filterDropdown">
            <span id="all_btn" class="dropdown-item">All</span>
            <span id="apartment_btn" class="dropdown-item">Apartments</span>
            <span id="land_btn" class="dropdown-item">Land</span>
            <span id="villa_btn" class="dropdown-item">Villa</span>
          </div>
        </div>
      </div>
    </span>

    <div id="land_div" class="container">
      <h1 class="text-center">Lands</h1>
      <div class="container my-4">
        <div class="row">
          <% if (lands.length > 0) { %> <% lands.forEach(item => { %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="/uploads/<%= item.image %>"
                class="card-img-top"
                alt="Property Image"
              />
              <div class="card-body">
                <h5 class="card-title">Location : <%= item.location %></h5>
                <p class="card-text"><strong>Area:</strong> <%= item.area %></p>
                <p class="card-text">
                  <strong>Total Price:</strong> <%= item.totalPrice %>
                </p>
                <p class="card-text">
                  <strong>Price Per Square Meter:</strong> <%=
                  item.pricePerSquareMeter %>
                </p>
              </div>
              <button class="btn btn-success">
                <a class="text-white" href="/land/<%= item._id %>">Book Now</a>
              </button>
            </div>
          </div>
          <% }); %> <% } else { %>
          <h1>No Land Available</h1>
          <% } %>
        </div>
      </div>
    </div>

    <div id="apartment_div" class="container">
      <h1 class="text-center">Apartments</h1>
      <div class="container my-4">
        <div class="row">
          <% if (apartments.length > 0) { %> <% apartments.forEach(item => { %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="/uploads/<%= item.image %>"
                class="card-img-top"
                alt="Property Image"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Apartment Number : <%= item.apartment_number %>
                </h5>
                <p class="card-text">
                  <strong>Type:</strong> <%= item.apartment_type %>
                </p>
                <p class="card-text">
                  <strong>Rooms:</strong> <%= item.bed_rooms %>
                </p>
                <p class="card-text">
                  <strong>Bulding:</strong> <%= item.apartment_building %>
                </p>
                <p class="card-text">
                  <strong>Apartment Level:</strong> <%= item.apartment_level %>
                </p>
              </div>
              <button class="btn btn-success">
                <a class="text-white" href="/apartment/<%= item._id %>"
                  >Book Now</a
                >
              </button>
            </div>
          </div>
          <% }); %> <% } else { %>
          <h1>No Apartments Available</h1>
          <% } %>
        </div>
      </div>
    </div>

    <div id="villa_div" class="container">
      <h1 class="text-center">Villas</h1>
      <div class="container my-4">
        <div class="row">
          <% if (villas.length > 0) { %> <% villas.forEach(item => { %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img
                src="/uploads/<%= item.image %>"
                class="card-img-top"
                alt="Property Image"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Villa Number : <%= item.villa_number %>
                </h5>
                <p class="card-text">
                  <strong>Door Number:</strong> <%= item.villa_door_number %>
                </p>
                <p class="card-text">
                  <strong>Stories:</strong> <%= item.stories_number %>
                </p>
                <p class="card-text">
                  <strong>Garage:</strong> <%= (item.garage) ? 'Available' :
                  'Not Available' %>
                </p>
                <p class="card-text">
                  <strong>Servent Room:</strong> <%= (item.serventRoom) ?
                  'Available' : 'Not Available' %>
                </p>
              </div>
              <button class="btn btn-success">
                <a class="text-white" href="/villa/<%= item._id %>">Book Now</a>
              </button>
            </div>
          </div>
          <% }); %> <% } else { %>
          <h1>No Villa Available</h1>
          <% } %>
        </div>
      </div>
    </div>

    <script>
      const all_btn = document.getElementById("all_btn");
      const apartment_btn = document.getElementById("apartment_btn");
      const land_btn = document.getElementById("land_btn");
      const villa_btn = document.getElementById("villa_btn");
      const land_div = document.getElementById("land_div");
      const apartment_div = document.getElementById("apartment_div");
      const villa_div = document.getElementById("villa_div");

      all_btn.addEventListener("click", () => {
        land_div.classList.remove("d-none");
        apartment_div.classList.remove("d-none");
        villa_div.classList.remove("d-none");
      });

      apartment_btn.addEventListener("click", () => {
        land_div.classList.add("d-none");
        apartment_div.classList.remove("d-none");
        villa_div.classList.add("d-none");
      });

      land_btn.addEventListener("click", () => {
        land_div.classList.remove("d-none");
        apartment_div.classList.add("d-none");
        villa_div.classList.add("d-none");
      });

      villa_btn.addEventListener("click", () => {
        land_div.classList.add("d-none");
        apartment_div.classList.add("d-none");
        villa_div.classList.remove("d-none");
      });
    </script>

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
